<%= form_with(model: @employment, local: true) do |form| %>
      <div class="row">
        <div class="col-12">
          <div class="card card-outline-inverse">
            <div class="card-header white">
              Thông Tin Cá Nhân
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <%= form.label :hoten, "Họ Tên" %>
                      <span style="color: red"> *</span>
                      <%= form.text_field :hoten, :class => "form-control" %>
                      <%= error_log(@employment, :hoten)%>
                  </div>

                  <div class="form-group">
                    <%= form.label :ngaysinh, "Ngày sinh" %>
                      <%= form.date_field :ngaysinh, :class => 'form-control' %>
                      <%= error_log(@employment, :ngaysinh) %>
                  </div>

                  <div class="form-group">
                    <%= form.label :gioitinh, "Giới tính"%>
                      <span style="color: red"> *</span>
                      <%= form.label :gioitinh, "Nam", :class => "radio-inline"%>
                        <%= form.radio_button :gioitinh, true %>
                          <%= form.label :gioitinh, "Nữ", :class => "radio-inline"%>
                            <%= form.radio_button :gioitinh, false %>
                            <%= error_log(@employment, :gioitinh) %>
                  </div>

                  <div class="form-group">
                    <%= form.label :tengoikhac, "Tên gọi khác" %>
                      <%= form.text_field :tengoikhac, :class => 'form-control' %>
                      <%= error_log(@employment, :tengoikhac) %>
                  </div>

                  <div class="form-group">
                    <%= form.label :noisinh, "Nơi sinh" %>
                      <span style="color: red"> *</span>
                      <%= form.text_field :noisinh, :class => 'form-control' %>
                      <%= error_log(@employment, :noisinh) %>
                  </div>

                  <div class="form-group">
                    <%= form.label :cmnd, "Chứng minh nhân dân" %>
                    <span style="color: red"> *</span>
                      <%= form.text_field :cmnd, :class => 'form-control' %>
                      <%= error_log(@employment, :cmnd) %>
                  </div>

                  <div class="form-group">
                    <%= form.label :ngaycapcmnd, "Ngày cấp cmnd" %>
                    <span style="color: red"> *</span>
                      <%= form.date_field :ngaycapcmnd, :class => 'form-control' %>
                    <%= error_log(@employment, :ngaycapcmnd) %>
                  </div>

                  <div style="padding: 0px 5px 0px 0px" class="col-lg-6">
                    <div class="form-group">
                      <%= form.label :noicapcmnd, "Nơi cấp cmnd" %>
                      <span style="color: red"> *</span>
                        <%= form.collection_select :noicapcmnd, Province.all, :name, :name,{}, { :class => 'form-control'} %>
                       <%= error_log(@employment, :noicapcmnd) %>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Quê Quán</label>
                    <br>
                    <%= form.collection_select :province_id, Province.all, :id, :name, { prompt: "Chọn Tỉnh:" }, :class => "form-control", :style => "display: inline-block; width: 32.5%",
                                              id: :employment_province_id %>
                    <%= error_log(@employment, :province_id) %>
                    <%= form.grouped_collection_select :district_id, Province.all, :districts, :name, :id, :name, { prompt: "Chọn Huyện" }, 
                                                        {:class => "form-control", :style => "display: inline-block; width: 32.5%"} %>                               
                      <%= error_log(@employment, :district_id) %>   
                  </div>
                  
                  <div class="form-group">
                    <%= form.label :sohieucongchuc, "Số hiệu công chức" %>
                      <%= form.text_field :sohieucongchuc, :class => 'form-control' %>
                     <%= error_log(@employment, :sohieucongchuc) %>
                  </div>

                  <div class="form-group">
                    <%= form.label :diachithuongtru, "Địa chỉ thường trú" %>
                      <span style="color: red"> *</span>
                      <%= form.text_field :diachithuongtru, :class => 'form-control' %>
                     <%= error_log(@employment, :diachithuongtru) %>
                  </div>

                  <div class="form-group">
                    <%= form.label :noiohiennay, "Nơi ở hiện nay" %>
                      <span style="color: red"> *</span>
                      <%= form.text_field :noiohiennay, :class => 'form-control' %>
                     <%= error_log(@employment, :noiohiennay) %>
                  </div>

                  <div class="form-group">
                    <%= form.label :dantoc, "Dân tộc" %>
                      <%= form.text_field :dantoc, :class => 'form-control'%>
                     <%= error_log(@employment, :dantoc) %>
                  </div>

                  <div class="form-group">
                    <%= form.label :tongiao, "Tôn giáo" %>
                      <%= form.text_field :tongiao, :class => 'form-control' %>
                     <%= error_log(@employment, :tongiao) %>
                  </div>

                  <div class="form-group">
                    <%= form.label :quoctich, "Quốc tịch" %>
                      <%= form.text_field :quoctich, :class => 'form-control' %>
                     <%= error_log(@employment, :quoctich) %>
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <%= form.label :tenxeptkb, "Tên xếp tkb" %>
                      <%= form.text_field :tenxeptkb, :class => 'form-control' %>
                     <%= error_log(@employment, :tenxeptkb) %>
                  </div>

                  <div class="form-group">
                    <span style="color: red"> *</span>
                    <%= form.label :tinhtranghonnhan, "Đã kết hôn", :class => "radio-inline"%>
                      <%= form.radio_button :tinhtranghonnhan, true %>
                        <%= form.label :tinhtranghonnhan, "Độc thân", :class => "radio-inline"%>
                          <%= form.radio_button :tinhtranghonnhan, false %>
                     <%= error_log(@employment, :tinhtranghonnhan) %>
                  </div>

                  <div class="form-group">
                    <%= form.label :thanhphanxuatthan, "Thành phần xuất thân" %>
                      <%= form.text_field :thanhphanxuatthan, :class => 'form-control' %>
                     <%= error_log(@employment, :thanhphanxuatthan) %>
                  </div>

                  <div class="form-group">
                    <%= form.label :dienuutiengd, "Diện ưu tiên gia định" %>
                      <%= form.text_field :dienuutiengd, :class => 'form-control' %>
                     <%= error_log(@employment, :dienuutiengd) %>
                  </div>

                  <div class="form-group">
                    <%= form.label :dienuutienbanthan, "Diện ưu tiên bản thân" %>
                      <%= form.text_field :dienuutienbanthan, :class => 'form-control' %>
                     <%= error_log(@employment, :dienuutienbanthan) %>
                  </div>

                  <div class="form-group">
                    <%= form.label :nangkieu, "Năng kiếu" %>
                      <%= form.text_field :nangkieu, :class => 'form-control' %>
                     <%= error_log(@employment, :nangkieu) %>
                  </div>

                  <div class="form-group">
                    <%= form.label :suckhoe, "Sức khỏe" %>
                      <%= form.text_field :suckhoe, :class => 'form-control' %>
                     <%= error_log(@employment, :suckhoe) %>
                  </div>

                  <div style="display: inline-block; width: 32.5%" class="form-group">
                    <%= form.label :nhommau, "Nhóm máu" %>
                      <%= form.select :nhommau, options_for_select(["A", "B", "AB", "O"]), :class => 'form-control' %>
                      <%= error_log(@employment, :nhommau) %>
                  </div>

                  <div style="display: inline-block; width: 32.5%" class="form-group">
                    <%= form.label :chieucao, "Chiều cao (cm)" %>
                      <%= form.text_field :chieucao, :class => 'form-control' %>
                      <%= error_log(@employment, :chieucao) %>
                  </div>

                  <div style="display: inline-block; width: 32.5%" class="form-group">
                    <%= form.label :cannang, "Cân nặng (kg)" %>
                      <%= form.text_field :cannang, :class => 'form-control' %>
                    <%= error_log(@employment, :cannang) %>
                  </div>

                  <div class="form-check form-check-inline">
                    <%= form.label :khuyettan, "Khuyết tật" %>
                      <%= form.check_box :khuyettan, :class => 'form-control'%>
                    <%= error_log(@employment, :khuyettan) %>
                  </div>

                  <div class="form-group">
                    <%= form.label :stk, "Số tài khoản" %>
                      <%= form.text_field :stk, :class => 'form-control' %>
                      <%= error_log(@employment, :stk) %>
                  </div>

                  <div class="form-group">
                    <%= form.label :nganhangmotaikhoan, "Ngân hàng tài khoản" %>
                      <%= form.text_field :nganhangmotaikhoan, :class => 'form-control' %>
                      <%= error_log(@employment, :nganhangmotaikhoan) %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card card-outline-inverse">
            <div class="card-header white">
              Thông Tin Liên Hệ
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <%= form.label :dtnharieng, "Điện thoại nhà riêng" %>
                      <%= form.text_field :dtnharieng, :class => 'form-control' %>
                      <%= error_log(@employment, :dtnharieng) %>
                  </div>

                  <div class="form-group">
                    <%= form.label :dtdd, "Điện thoại di động" %>
                    <span style="color: red"> *</span>
                      <%= form.text_field :dtdd, :class => 'form-control' %>
                      <%= error_log(@employment, :dtdd) %>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <%= form.label :email, "Email" %>
                      <%= form.email_field :email, :class => 'form-control' %>
                      <%= error_log(@employment, :email) %>
                  </div>

                  <div class="form-group">
                    <%= form.label :dtcoquan, "Điện thoại cơ quan" %>
                      <%= form.text_field :dtcoquan, :class => 'form-control' %>
                    <%= error_log(@employment, :dtcoquan) %>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card card-outline-inverse">
            <div class="card-header white">
              Thông Tin Làm Việc
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <%= form.label :chucvuhientai, "Chức vụ hiện tại" %>
                      <%= form.text_field :chucvuhientai, :class => 'form-control'%>
                      <%= error_log(@employment, :chucvuhientai) %>
                  </div>

                  <div class="form-group">
                    <%= form.label :hesophucap, "Hệ số phụ cấp" %>
                      <%= form.text_field :hesophucap, :class => 'form-control' %>
                      <%= error_log(@employment, :hesophucap) %>
                  </div>

                  <div class="form-group">
                    <%= form.label :thuocloaicanbo, "Thuộc loại cán bộ" %>
                      <%= form.text_field :thuocloaicanbo, :class => 'form-control' %>
                      <%= error_log(@employment, :thuocloaicanbo) %>
                  </div>

                  <div class="form-group">
                    <%= form.label :ngayvaonganhgd, "Ngày vào ngành giáo dục" %>
                      <%= form.date_field :ngayvaonganhgd, :class => 'form-control'%>
                      <%= error_log(@employment, :ngayvaonganhgd) %>
                  </div>

                  <div class="form-group">
                    <%= form.label :sobhxh, "Số bảo hiểm xã hội" %>
                      <%= form.text_field :sobhxh, :class => 'form-control' %>
                      <%= error_log(@employment, :sobhxh) %>
                  </div>

                  <div class="form-group">
                    <%= form.label :ngaybatdaudongbhxh, "Ngày bắt đầu đóng bhxh" %>
                      <%= form.date_field :ngaybatdaudongbhxh, :class => 'form-control' %>
                    <%= error_log(@employment, :ngaybatdaudongbhxh) %>
                  </div>

                  <div class="form-check form-check-inline">
                    <%= form.label :dangnghibhxh, "Đang nghỉ bhxh" %>
                      <%= form.check_box :dangnghibhxh, :class => 'form-control' %>
                      <%= error_log(@employment, :dangnghibhxh) %>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <%= form.label :ngayhopdong, "Ngày hợp đồng" %>
                      <%= form.date_field :ngayhopdong, :class => 'form-control' %>
                      <%= error_log(@employment, :ngayhopdong) %>
                  </div>
                  <div class="form-group">
                    <%= form.label :ngaytuyendung, "Ngày tuyển dụng" %>
                      <%= form.date_field :ngaytuyendung, :class => 'form-control' %>
                      <%= error_log(@employment, :ngaytuyendung) %>
                  </div>
                  <div class="form-group">
                    <%= form.label :hethongtuyendung, "Hệ thống tuyển dụng" %>
                      <%= form.text_field :hethongtuyendung, :class => 'form-control' %>
                      <%= error_log(@employment, :hethongtuyendung) %>
                  </div>

                  <div class="form-group">
                    <%= form.label :coquantuyendung, "Cơ quan tuyển dụng" %>
                      <%= form.text_field :coquantuyendung, :class => 'form-control' %>
                      <%= error_log(@employment, :coquantuyendung) %>
                  </div>
                              <!-- <div class="form-group">
    <%= form.label :congviecduocgiao, "Công việc được giao" %>
    <%= form.text_field :congviecduocgiao, id: :employment_congviecduocgiao %>
  </div>
  -->

                  <div class="form-group">
                    <%= form.label :ngayvecoquanhiennay,"Ngày về cơ quan hiện nay" %>
                      <%= form.date_field :ngayvecoquanhiennay, :class => 'form-control' %>
                      <%= error_log(@employment, :ngayvecoquanhiennay) %>
                  </div>

                  <div class="form-group">
                    <%= form.label :nhomcvhiennay, "Nhóm công việc hiên nay" %>
                      <%= form.text_field :nhomcvhiennay, :class => 'form-control' %>
                      <%= error_log(@employment, :nhomcvhiennay) %>
                  </div>

                  <div class="form-group">
                    <%= form.label :department_id, "Phòng ban hiện tại:" %>
                      <%= collection_select(:employment, :department_id, Department.all, :id, :name, { prompt: "Chọn phòng ban" },
                              :class => 'form-control') %>
                      <%= error_log(@employment, :department_id) %>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div style="float: right !important;">
            <button type="reset" class="btn btn-default">Nhập Lại</button>
            <%= form.submit button_text + " Nhân sự", :class => 'btn btn-primary' %>
          </div>
          <% end %>
