
<body class="fix-header fix-sidebar card-no-border">

<%= render 'layouts/admin_header' %>
<div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">Quản Lý Nhân Sự</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)">Trang Chủ </a>
                            </li>
                            <li class="breadcrumb-item active">Quản Lý Nhân Sự</li>
                        </ol>
                    </div>
                    <div class="col-md-7 align-self-center text-right d-none d-md-block">
                        <%= link_to new_employment_path do %>
                            <i class="fas fa-plus"></i>Thêm mới
                        <% end %>
                    </div>
                </div>
                    
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Bảng thống kê nhân sự</h4>
                                <h6 class="card-subtitle">Trường AbCxYz</h6>
                                <div class="table-responsive m-t-40">
                                    <table id="myTable" class="table table-bordered table-striped">
                                        <thead>
                                            <tr style="text-align: center">
                                                <th>Tên giáo viên</th>
                                                <th>Ngày sinh</th>
                                                <th>Địa chỉ</th>
                                                <th>Số điện thoại</th>
                                                <th>Email</th>
                                                <th>Chức vụ hiện tại</th>
                                                <th>Thao tác</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <% @employments.each do |employment| %>
                                            <tr>
                                                <td>employment.hoten</td>
                                                <td>employment.ngaysinh</td>
                                                <td>employment.diachithuongtru</td>
                                                <td>employment.dtdd</td>
                                                <td>employment.email</td>
                                                <td>employment.chucvuhientai</td>
                                                <td>
                                                    <%= link_to edit_employment_path(employment) do %>
                                                      <i class="fa fa-pencil text-inverse m-r-10"></i>
                                                    <% end %>
                                                    <%= link_to employment, method: :destroy, data: { confirm: 'Are you sure?' } do %>
                                                      <i class="fa fa-close text-danger"></i>
                                                    <% end %>
                                                </td>
                                            </tr>
                                          <% end %>
                                            <!-- <tfoot>
                                                <tr>
                                                    <th>Tên giáo viên</th>
                                                    <th>Ngày sinh</th>
                                                    <th>Địa chỉ</th>
                                                    <th>Số điện thoại</th>
                                                    <th>Email</th>
                                                    <th>Chức vụ hiện tại</th>
                                                    <th>Thao tác</th>
                                                </tr>
                                            </tfoot> -->
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            
    <%= render 'layouts/admin_footer' %>