<p id="notice"><%= notice %></p>

<p>
  <strong>Hoten:</strong>
  <%= @employment.hoten %>
</p>

<p>
  <strong>Ngaysinh:</strong>
  <%= @employment.ngaysinh %>
</p>

<p>
  <strong>Gioitinh:</strong>
  <%= @employment.gioitinh %>
</p>

<p>
  <strong>Tengoikhac:</strong>
  <%= @employment.tengoikhac %>
</p>

<p>
  <strong>Sohieucongchuc:</strong>
  <%= @employment.sohieucongchuc %>
</p>

<p>
  <strong>Cmnd:</strong>
  <%= @employment.cmnd %>
</p>

<p>
  <strong>Ngaycapcmnd:</strong>
  <%= @employment.ngaycapcmnd %>
</p>

<p>
  <strong>Noicapcmnd:</strong>
  <%= @employment.noicapcmnd %>
</p>

<p>
  <strong>Tenxeptkb:</strong>
  <%= @employment.tenxeptkb %>
</p>

<p>
  <strong>Dantoc:</strong>
  <%= @employment.dantoc %>
</p>

<p>
  <strong>Tongiao:</strong>
  <%= @employment.tongiao %>
</p>

<p>
  <strong>Quoctich:</strong>
  <%= @employment.quoctich %>
</p>

<p>
  <strong>Noisinh:</strong>
  <%= @employment.noisinh %>
</p>

<p>
  <strong>Diachithuongtru:</strong>
  <%= @employment.diachithuongtru %>
</p>

<p>
  <strong>Noiohiennay:</strong>
  <%= @employment.noiohiennay %>
</p>

<p>
  <strong>Dtcoquan:</strong>
  <%= @employment.dtcoquan %>
</p>

<p>
  <strong>Dtnharieng:</strong>
  <%= @employment.dtnharieng %>
</p>

<p>
  <strong>Dtdd:</strong>
  <%= @employment.dtdd %>
</p>

<p>
  <strong>Email:</strong>
  <%= @employment.email %>
</p>

<p>
  <strong>Tinhtranghonnhan:</strong>
  <%= @employment.tinhtranghonnhan ? "Có" : "Không" %>
</p>

<p>
  <strong>Thanhphanxuatthan:</strong>
  <%= @employment.thanhphanxuatthan %>
</p>

<p>
  <strong>Dienuutiengd:</strong>
  <%= @employment.dienuutiengd %>
</p>

<p>
  <strong>Dienuutienbanthan:</strong>
  <%= @employment.dienuutienbanthan %>
</p>

<p>
  <strong>Nangkieu:</strong>
  <%= @employment.nangkieu %>
</p>

<p>
  <strong>Suckhoe:</strong>
  <%= @employment.suckhoe %>
</p>

<p>
  <strong>Nhommau:</strong>
  <%= @employment.nhommau %>
</p>

<p>
  <strong>Chieucao:</strong>
  <%= @employment.chieucao %>
</p>

<p>
  <strong>Cannang:</strong>
  <%= @employment.cannang %>
</p>

<p>
  <strong>Khuyettan:</strong>
  <%= @employment.khuyettan ? "Có" : "Không" %>
</p>

<p>
  <strong>Stk:</strong>
  <%= @employment.stk %>
</p>

<p>
  <strong>Nganhangmotaikhoan:</strong>
  <%= @employment.nganhangmotaikhoan %>
</p>

<p>
  <strong>Ngaybatdaudongbhxh:</strong>
  <%= @employment.ngaybatdaudongbhxh %>
</p>

<p>
  <strong>Sobhxh:</strong>
  <%= @employment.sobhxh %>
</p>

<p>
  <strong>Ngayhopdong:</strong>
  <%= @employment.ngayhopdong %>
</p>

<p>
  <strong>Ngaytuyendung:</strong>
  <%= @employment.ngaytuyendung %>
</p>

<p>
  <strong>Hethongtuyendung:</strong>
  <%= @employment.hethongtuyendung %>
</p>

<p>
  <strong>Coquantuyendung:</strong>
  <%= @employment.coquantuyendung %>
</p>

<p>
  <strong>Congviecduocgiao:</strong>
  <%= @employment.congviecduocgiao %>
</p>

<p>
  <strong>Ngayvecoquanhiennay:</strong>
  <%= @employment.ngayvecoquanhiennay %>
</p>

<p>
  <strong>Thuocloaicanbo:</strong>
  <%= @employment.thuocloaicanbo %>
</p>

<p>
  <strong>Nhomcvhiennay:</strong>
  <%= @employment.nhomcvhiennay %>
</p>

<p>
  <strong>Dangnghibhxh:</strong>
  <%= @employment.dangnghibhxh ? "Có" : "Không" %>
</p>

<p>
  <strong>Ngayvaonganhgd:</strong>
  <%= @employment.ngayvaonganhgd %>
</p>

<p>
  <strong>Chucvuhientai:</strong>
  <%= @employment.chucvuhientai %>
</p>

<p>
  <strong>Hesophucap:</strong>
  <%= @employment.hesophucap %>
</p>

<%= link_to 'Edit', edit_employment_path(@employment) %> |
<%= link_to 'Back', employments_path %>
