<p id="notice"><%= notice %></p>

<p>
  <strong>Hoten:</strong>
  <%= @student.hoten %>
</p>

<p>
  <strong>Ngaysinh:</strong>
  <%= @student.ngaysinh %>
</p>

<p>
  <strong>Gioitinh:</strong>
  <%= @student.gioitinh %>
</p>

<p>
  <strong>Choohientai:</strong>
  <%= @student.choohientai %>
</p>

<p>
  <strong>Hokhauthuongtru:</strong>
  <%= @student.hokhauthuongtru %>
</p>

<p>
  <strong>Noisinh:</strong>
  <%= @student.noisinh %>
</p>

<p>
  <strong>Quequan:</strong>
  <%= @student.quequan %>
</p>

<p>
  <strong>Dantoc:</strong>
  <%= @student.dantoc %>
</p>

<p>
  <strong>Dienchinhsach:</strong>
  <%= @student.dienchinhsach %>
</p>

<p>
  <strong>Canngheo:</strong>
  <%= @student.canngheo %>
</p>

<p>
  <strong>Tencha:</strong>
  <%= @student.tencha %>
</p>

<p>
  <strong>Nghenghiepcha:</strong>
  <%= @student.nghenghiepcha %>
</p>

<p>
  <strong>Dienthoaibo:</strong>
  <%= @student.dienthoaibo %>
</p>

<p>
  <strong>Tenme:</strong>
  <%= @student.tenme %>
</p>

<p>
  <strong>Nghenghiepme:</strong>
  <%= @student.nghenghiepme %>
</p>

<p>
  <strong>Dienthoaime:</strong>
  <%= @student.dienthoaime %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
