<p id="notice"><%= notice %></p>

<p>
  <strong>Tendichvu:</strong>
  <%= @khoanphiphaithu.tendichvu %>
</p>

<p>
  <strong>Phidichvu:</strong>
  <%= @khoanphiphaithu.phidichvu %>
</p>

<p>
  <strong>Loaidichvu:</strong>
  <%= @khoanphiphaithu.loaidichvu %>
</p>

<p>
  <strong>Kieudichvu:</strong>
  <%= @khoanphiphaithu.kieudichvu %>
</p>

<p>
  <strong>Hinhthuc:</strong>
  <%= @khoanphiphaithu.hinhthuc %>
</p>

<%= link_to 'Edit', edit_khoanphiphaithu_path(@khoanphiphaithu) %> |
<%= link_to 'Back', khoanphiphaithus_path %>
