<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header bg-info">
        <h4 class="m-b-0 text-white">Thông tin lớp</h4>
      </div>
      <div class="card-body">
        <%= form_with(model: lop, local: true) do |form| %>
          <div class="form-body">
            <div class="row p-t-20">
              <div class="col-md-6 offset-md-3">
                <div class="form-group">
                  <%= form.label :lophoc, "Lớp học" %>
                    <%= form.text_field :lophoc, id: :firstName, :class => 'form-control' %>
                    <%= error_log(lop, :lophoc) %>
                </div>
              </div>

              <div class="col-md-6 offset-md-3">
                <div class="form-group">
                  <%= form.label :khoihoc, "Khối học" %>
                    <%= form.select :khoihoc, options_for_select(["15 - 24 Tháng", "25 - 36 Tháng", "Mầm", "Chồi", "Lá"]), prompt: "Chọn khối...", :class => 'form-control' %>
                    <%= error_log(lop, :khoihoc) %>
                </div>
              </div>

              <div class="col-md-6 offset-md-3">
                <div class="form-group">
                  <%= form.label :syso, "Sỹ số" %>
                    <%= form.text_field :syso, :class => "form-control", value: "30" %>
                    <%= error_log(lop, :syso) %>
                </div>
              </div>

              <div class="col-md-6 offset-md-3">
                <div class="form-group">
                  <%= form.label :namhoc, "Năm học" %>
                    <select name="lop[namhoc]" id="namHoc" class="form-control">

                      <% for i in 0..5 %>
                        <% current_year = Time.current.year + i %>
                        <% next_year = current_year + 1 %>
                          <option value='<%= "#{current_year} - #{next_year}" %>'><%= "#{current_year} - #{next_year}" %></option>
                      <% end %>
                    </select>
                    <%= error_log(lop, :namhoc) %>
                </div>
              </div>

              

              <div class="col-md-6 offset-md-3">
                <div class="form-group">
                  <%= form.fields_for :phanconggiangdays do |field| %>
                    <%= field.label :employment_id, "Giáo viên phụ trách" %>
                      <% @employment_lop = Department.joins(:employments).select('employments.*').where("departments.name = 'Tổ trưởng / phó các lớp'") %>
                      <%= field.collection_select :employment_id, @employment_lop.where.not(id: Phanconggiangday.all.map(&:employment_id)), :id, :hoten, prompt: "Chọn Giáo viên" , :class => 'form-control' %>
                      <%= error_log(lop, :employment_id) %>
                      <br />
                    <% end %>
                </div>
              </div>
              <%= form.hidden_field :department_id, value: Department.find_by(name: "Tổ trưởng / phó các lớp").id %>
            </div>
            <div class="form-actions">
              <div class="col-md-6 offset-md-3 text-right">
                <%= form.button :submit, :class => "btn btn-success" do %>
                  <i class="fa fa-check"></i> <%= button_text + " Lớp" %>
                <% end %>               
              </div>
            </div>
          </div>
          <% end %>
      </div>
    </div>
  </div>
