<p id="notice"><%= notice %></p>

<h1>Lops</h1>

<table>
  <thead>
    <tr>
      <th>Khoihoc</th>
      <th>Lophoc</th>
      <th>Syso</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lops.each do |lop| %>
      <tr>
        <td><%= lop.khoihoc %></td>
        <td><%= lop.lophoc %></td>
        <td><%= lop.syso %></td>
        <td><%= link_to 'Show', lop %></td>
        <td><%= link_to 'Edit', edit_lop_path(lop) %></td>
        <td><%= link_to 'Destroy', lop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lop', new_lop_path %>
