
<body class="fix-header fix-sidebar card-no-border">

<%= render 'layouts/admin_header' %>
<div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
               <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">Quản Lý Lớp Học</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)">Trang Chủ </a>
                            </li>
                            <li class="breadcrumb-item active">Quản Lý Lớp Học</li>
                        </ol>
                    </div>
                    <div class="col-md-7 align-self-center text-right d-none d-md-block">
                      <%= link_to new_lop_path do %>
                        <i class="fa fa-plus-circle"></i> Thêm mới
                      <% end %>
                    </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="card">
                      <h4 class="card-title">
                        <h4 class="card-title">Danh sách lớp học</h4>
                                <h6 class="card-subtitle">Trường AbCxYz - Khối 123456</h6>
                                <div class="table-responsive m-t-40">
                                    <table id="myTable" class="table table-bordered table-striped">
                                        <thead>
                                            <tr style="text-align: center">
                                                <th>Tên lớp</th>
                                                <th>Năm học</th>
                                                <th>Sỹ số</th>
                                                <th>Giáo viên phụ trách</th>
                                                <th>Thao tác</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                          <% @lops.each do |lop| %>
                                            <tr>
                                                <td><%= lop.khoihoc %></td>
                                                <td><%= lop.lophoc %></td>
                                                <td><%= lop.syso %></td>
                                                <td></td>
                                                <td>
                                                  <%= link_to lop do %>
                                                    <i class="fa fa-list-ul text-inverse m-r-10"></i>
                                                  <% end %>
                                                  <%= link_to edit_lop_path(lop) do %>
                                                    <i class="fa fa-pencil text-inverse m-r-10"></i>
                                                  <% end %>
                                                  <%= link_to lop, method: :destroy, confirm: {data: "Are you sure?"} do %>
                                                    <i class="fa fa-close text-danger"></i>
                                                  <% end %>
                                                </td>
                                            </tr>
                                            <% end %>
                                        </tbody>
                                      </table>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
              <%= render 'layouts/admin_footer' %>
</body>      


