<p id="notice"><%= notice %></p>

<p>
  <strong>Khoihoc:</strong>
  <%= @lop.khoihoc %>
</p>

<p>
  <strong>Lophoc:</strong>
  <%= @lop.lophoc %>
</p>

<p>
  <strong>Syso:</strong>
  <%= @lop.syso %>
</p>

<%= link_to 'Edit', edit_lop_path(@lop) %> |
<%= link_to 'Back', lops_path %>
