<p id="notice"><%= notice %></p>

<h1>Phanconggiangdays</h1>

<table>
  <thead>
    <tr>
      <th>Lop</th>
      <th>Employment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @phanconggiangdays.each do |phanconggiangday| %>
      <tr>
        <td><%= phanconggiangday.lop %></td>
        <td><%= phanconggiangday.employment %></td>
        <td><%= link_to 'Show', phanconggiangday %></td>
        <td><%= link_to 'Edit', edit_phanconggiangday_path(phanconggiangday) %></td>
        <td><%= link_to 'Destroy', phanconggiangday, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Phanconggiangday', new_phanconggiangday_path %>
