<p id="notice"><%= notice %></p>

<p>
  <strong>Lop:</strong>
  <%= @phanconggiangday.lop %>
</p>

<p>
  <strong>Employment:</strong>
  <%= @phanconggiangday.employment %>
</p>

<%= link_to 'Edit', edit_phanconggiangday_path(@phanconggiangday) %> |
<%= link_to 'Back', phanconggiangdays_path %>
