<p id="notice"><%= notice %></p>

<h1>Taisanlops</h1>

<table>
  <thead>
    <tr>
      <th>Tentaisan</th>
      <th>Donvitaisan</th>
      <th>Nguontaisan</th>
      <th>Soluong</th>
      <th>Lop</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @taisanlops.each do |taisanlop| %>
      <tr>
        <td><%= taisanlop.tentaisan %></td>
        <td><%= taisanlop.donvitaisan %></td>
        <td><%= taisanlop.nguontaisan %></td>
        <td><%= taisanlop.soluong %></td>
        <td><%= taisanlop.lop %></td>
        <td><%= link_to 'Show', taisanlop %></td>
        <td><%= link_to 'Edit', edit_taisanlop_path(taisanlop) %></td>
        <td><%= link_to 'Destroy', taisanlop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Taisanlop', new_taisanlop_path %>
