<p id="notice"><%= notice %></p>

<p>
  <strong>Tentaisan:</strong>
  <%= @taisanlop.tentaisan %>
</p>

<p>
  <strong>Donvitaisan:</strong>
  <%= @taisanlop.donvitaisan %>
</p>

<p>
  <strong>Nguontaisan:</strong>
  <%= @taisanlop.nguontaisan %>
</p>

<p>
  <strong>Soluong:</strong>
  <%= @taisanlop.soluong %>
</p>

<p>
  <strong>Lop:</strong>
  <%= @taisanlop.lop %>
</p>

<%= link_to 'Edit', edit_taisanlop_path(@taisanlop) %> |
<%= link_to 'Back', taisanlops_path %>
