<p id="notice"><%= notice %></p>

<h1>Nhansus</h1>

<table>
  <thead>
    <tr>
      <th>Hoten</th>
      <th>Ngaysinh</th>
      <th>Gioitinh</th>
      <th>Tengoikhac</th>
      <th>Sohieucongchuc</th>
      <th>Cmnd</th>
      <th>Ngaycapcmnd</th>
      <th>Noicapcmnd</th>
      <th>Tenxeptkb</th>
      <th>Dantoc</th>
      <th>Tongiao</th>
      <th>Quoctich</th>
      <th>Noisinh</th>
      <th>Diachithuongtru</th>
      <th>Noiohiennay</th>
      <th>Dtcoquan</th>
      <th>Dtnharieng</th>
      <th>Dtdd</th>
      <th>Email</th>
      <th>Tinhtranghonnhan</th>
      <th>Thanhphanxuatthan</th>
      <th>Dienuutiengd</th>
      <th>Dienuutienbanthan</th>
      <th>Nangkieu</th>
      <th>Suckhoe</th>
      <th>Nhommau</th>
      <th>Chieucao</th>
      <th>Cannang</th>
      <th>Khuyettan</th>
      <th>Stk</th>
      <th>Nganhangmotaikhoan</th>
      <th>Ngaybatdaudongbhxh</th>
      <th>Sobhxh</th>
      <th>Ngayhopdong</th>
      <th>Ngaytuyendung</th>
      <th>Hethongtuyendung</th>
      <th>Coquantuyendung</th>
      <th>Congviecduocgiao</th>
      <th>Ngayvecoquanhiennay</th>
      <th>Thuocloaicanbo</th>
      <th>Nhomcvhiennay</th>
      <th>Dangnghibhxh</th>
      <th>Ngayvaonganhgd</th>
      <th>Chucvuhientai</th>
      <th>Hesophucap</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nhansus.each do |nhansu| %>
      <tr>
        <td><%= nhansu.hoten %></td>
        <td><%= nhansu.ngaysinh %></td>
        <td><%= nhansu.gioitinh %></td>
        <td><%= nhansu.tengoikhac %></td>
        <td><%= nhansu.sohieucongchuc %></td>
        <td><%= nhansu.cmnd %></td>
        <td><%= nhansu.ngaycapcmnd %></td>
        <td><%= nhansu.noicapcmnd %></td>
        <td><%= nhansu.tenxeptkb %></td>
        <td><%= nhansu.dantoc %></td>
        <td><%= nhansu.tongiao %></td>
        <td><%= nhansu.quoctich %></td>
        <td><%= nhansu.noisinh %></td>
        <td><%= nhansu.diachithuongtru %></td>
        <td><%= nhansu.noiohiennay %></td>
        <td><%= nhansu.dtcoquan %></td>
        <td><%= nhansu.dtnharieng %></td>
        <td><%= nhansu.dtdd %></td>
        <td><%= nhansu.email %></td>
        <td><%= nhansu.tinhtranghonnhan %></td>
        <td><%= nhansu.thanhphanxuatthan %></td>
        <td><%= nhansu.dienuutiengd %></td>
        <td><%= nhansu.dienuutienbanthan %></td>
        <td><%= nhansu.nangkieu %></td>
        <td><%= nhansu.suckhoe %></td>
        <td><%= nhansu.nhommau %></td>
        <td><%= nhansu.chieucao %></td>
        <td><%= nhansu.cannang %></td>
        <td><%= nhansu.khuyettan %></td>
        <td><%= nhansu.stk %></td>
        <td><%= nhansu.nganhangmotaikhoan %></td>
        <td><%= nhansu.ngaybatdaudongbhxh %></td>
        <td><%= nhansu.sobhxh %></td>
        <td><%= nhansu.ngayhopdong %></td>
        <td><%= nhansu.ngaytuyendung %></td>
        <td><%= nhansu.hethongtuyendung %></td>
        <td><%= nhansu.coquantuyendung %></td>
        <td><%= nhansu.congviecduocgiao %></td>
        <td><%= nhansu.ngayvecoquanhiennay %></td>
        <td><%= nhansu.thuocloaicanbo %></td>
        <td><%= nhansu.nhomcvhiennay %></td>
        <td><%= nhansu.dangnghibhxh %></td>
        <td><%= nhansu.ngayvaonganhgd %></td>
        <td><%= nhansu.chucvuhientai %></td>
        <td><%= nhansu.hesophucap %></td>
        <td><%= link_to 'Show', nhansu %></td>
        <td><%= link_to 'Edit', edit_nhansu_path(nhansu) %></td>
        <td><%= link_to 'Destroy', nhansu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nhansu', new_nhansu_path %>
