<p id="notice"><%= notice %></p>

<p>
  <strong>Hoten:</strong>
  <%= @nhansu.hoten %>
</p>

<p>
  <strong>Ngaysinh:</strong>
  <%= @nhansu.ngaysinh %>
</p>

<p>
  <strong>Gioitinh:</strong>
  <%= @nhansu.gioitinh %>
</p>

<p>
  <strong>Tengoikhac:</strong>
  <%= @nhansu.tengoikhac %>
</p>

<p>
  <strong>Sohieucongchuc:</strong>
  <%= @nhansu.sohieucongchuc %>
</p>

<p>
  <strong>Cmnd:</strong>
  <%= @nhansu.cmnd %>
</p>

<p>
  <strong>Ngaycapcmnd:</strong>
  <%= @nhansu.ngaycapcmnd %>
</p>

<p>
  <strong>Noicapcmnd:</strong>
  <%= @nhansu.noicapcmnd %>
</p>

<p>
  <strong>Tenxeptkb:</strong>
  <%= @nhansu.tenxeptkb %>
</p>

<p>
  <strong>Dantoc:</strong>
  <%= @nhansu.dantoc %>
</p>

<p>
  <strong>Tongiao:</strong>
  <%= @nhansu.tongiao %>
</p>

<p>
  <strong>Quoctich:</strong>
  <%= @nhansu.quoctich %>
</p>

<p>
  <strong>Noisinh:</strong>
  <%= @nhansu.noisinh %>
</p>

<p>
  <strong>Diachithuongtru:</strong>
  <%= @nhansu.diachithuongtru %>
</p>

<p>
  <strong>Noiohiennay:</strong>
  <%= @nhansu.noiohiennay %>
</p>

<p>
  <strong>Dtcoquan:</strong>
  <%= @nhansu.dtcoquan %>
</p>

<p>
  <strong>Dtnharieng:</strong>
  <%= @nhansu.dtnharieng %>
</p>

<p>
  <strong>Dtdd:</strong>
  <%= @nhansu.dtdd %>
</p>

<p>
  <strong>Email:</strong>
  <%= @nhansu.email %>
</p>

<p>
  <strong>Tinhtranghonnhan:</strong>
  <%= @nhansu.tinhtranghonnhan %>
</p>

<p>
  <strong>Thanhphanxuatthan:</strong>
  <%= @nhansu.thanhphanxuatthan %>
</p>

<p>
  <strong>Dienuutiengd:</strong>
  <%= @nhansu.dienuutiengd %>
</p>

<p>
  <strong>Dienuutienbanthan:</strong>
  <%= @nhansu.dienuutienbanthan %>
</p>

<p>
  <strong>Nangkieu:</strong>
  <%= @nhansu.nangkieu %>
</p>

<p>
  <strong>Suckhoe:</strong>
  <%= @nhansu.suckhoe %>
</p>

<p>
  <strong>Nhommau:</strong>
  <%= @nhansu.nhommau %>
</p>

<p>
  <strong>Chieucao:</strong>
  <%= @nhansu.chieucao %>
</p>

<p>
  <strong>Cannang:</strong>
  <%= @nhansu.cannang %>
</p>

<p>
  <strong>Khuyettan:</strong>
  <%= @nhansu.khuyettan %>
</p>

<p>
  <strong>Stk:</strong>
  <%= @nhansu.stk %>
</p>

<p>
  <strong>Nganhangmotaikhoan:</strong>
  <%= @nhansu.nganhangmotaikhoan %>
</p>

<p>
  <strong>Ngaybatdaudongbhxh:</strong>
  <%= @nhansu.ngaybatdaudongbhxh %>
</p>

<p>
  <strong>Sobhxh:</strong>
  <%= @nhansu.sobhxh %>
</p>

<p>
  <strong>Ngayhopdong:</strong>
  <%= @nhansu.ngayhopdong %>
</p>

<p>
  <strong>Ngaytuyendung:</strong>
  <%= @nhansu.ngaytuyendung %>
</p>

<p>
  <strong>Hethongtuyendung:</strong>
  <%= @nhansu.hethongtuyendung %>
</p>

<p>
  <strong>Coquantuyendung:</strong>
  <%= @nhansu.coquantuyendung %>
</p>

<p>
  <strong>Congviecduocgiao:</strong>
  <%= @nhansu.congviecduocgiao %>
</p>

<p>
  <strong>Ngayvecoquanhiennay:</strong>
  <%= @nhansu.ngayvecoquanhiennay %>
</p>

<p>
  <strong>Thuocloaicanbo:</strong>
  <%= @nhansu.thuocloaicanbo %>
</p>

<p>
  <strong>Nhomcvhiennay:</strong>
  <%= @nhansu.nhomcvhiennay %>
</p>

<p>
  <strong>Dangnghibhxh:</strong>
  <%= @nhansu.dangnghibhxh %>
</p>

<p>
  <strong>Ngayvaonganhgd:</strong>
  <%= @nhansu.ngayvaonganhgd %>
</p>

<p>
  <strong>Chucvuhientai:</strong>
  <%= @nhansu.chucvuhientai %>
</p>

<p>
  <strong>Hesophucap:</strong>
  <%= @nhansu.hesophucap %>
</p>

<%= link_to 'Edit', edit_nhansu_path(@nhansu) %> |
<%= link_to 'Back', nhansus_path %>
